*.aux
*.cor
*.dvi
*.lex
*.log
*.loma
*.lomd
*.lomf
*.lomg
*.lomm
*.lomn
*.ps
*.fdb_latexmk
*.fls
*.synctex.gz
*.maf
*.mtc*
*.toc
*.out
*.pdf

/A1/corrections/corr*
/D1/corrections/corr*
/G1/corrections/corr*
/G2/corrections/corr*
/M1/corrections/corr*
/N1/corrections/corr*
/N2/corrections/corr*
/corrections/corr*
