*.aux
*.cor
*.dvi
*.lex
*.log
*.loma
*.lomd
*.lomf
*.lomg
*.lomm
*.lomn
*.ps
*.fdb_latexmk
*.fls
*.synctex.gz
*.maf
*.mtc*
*.toc
*.out
*.pdf

/A1/corrections/corr*
/D1/corrections/corr*
/D2/corrections/corr*
/G1/corrections/corr*
/G2/corrections/corr*
/G3/corrections/corr*
/G4/corrections/corr*
/G5/corrections/corr*
/M1/corrections/corr*
/N1/corrections/corr*
/N2/corrections/corr*
/N3/corrections/corr*
/N4/corrections/corr*
/N5/corrections/corr*

/N7/corrections/corr*

/N9/corrections/corr*
/000/corrections/corr*
/corrections/corr*
