*.aux
*.cor
*.dvi
*.lex
*.log
*.loma
*.lomd
*.lomf
*.lomg
*.lomm
*.lomn
*.ps
*.fdb_latexmk
*.fls
*.synctex.gz
*.maf
*.mtc*
*.toc
*.out
*.pdf

/A1/corrections/corr*
/D1/corrections/corr*
/G1/corrections/corr*
/G2/corrections/corr*
/G3/corrections/corr*
/G4/corrections/corr*
/G5/corrections/corr*
/G6/corrections/corr*
/G7/corrections/corr*
/M1/corrections/corr*
/M2/corrections/corr*
/M3/corrections/corr*
/M4/corrections/corr*
/M5/corrections/corr*
/M6/corrections/corr*
/M7/corrections/corr*
/M8/corrections/corr*
/M9/corrections/corr*
/N1/corrections/corr*
/N2/corrections/corr*
/N3/corrections/corr*
/N4/corrections/corr*
/N5/corrections/corr*
/N6/corrections/corr*
/N7/corrections/corr*
/N8/corrections/corr*
/N9/corrections/corr*
/N10/corrections/corr*
/N11/corrections/corr*
/000/corrections/corr*
/corrections/corr*
